/* Global Background */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #d6dbf1;
    background: linear-gradient(to bottom, #141B3A, #0B0F26 40%, #070A1A 100%);
}

/* Navbar */
nav {
    background: rgba(10, 14, 40, 0.9);
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
    padding: 20px 60px;
    display: flex;
    justify-content: right;
    align-items: normal;
    z-index: 100;
}

nav a {
    color: #cdd3ec;
    margin-left: 20px;
    text-decoration: none;
    transition: 0.3s;
}

/* Hero Section */
#home {
    padding: 120px 10%;
    display: flex;
    align-items: right;
    gap: 40px;
}

/* About Section */
#about {
    background: #0D132F;
    padding: 120px 10%;
}

/* Project Card */
.project-card {
    background: #0C112C;
    border: 1px solid #6B5FFF;
    border-radius: 15px;
    padding: 10px;
}

/* Contact Form Section */
#contact {
    background: #0D132F;
    padding: 120px 10%;
}

.contact-form {
    background: #0B1030;
    padding: 40px;
    border-radius: 12px;
    border: 1px solid #6B5FFF;
}

/* Buttons */
button,
.send-btn {
    background: #8B5CF6;
    border: none;
    padding: 12px 28px;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

/*
  Please excuse me for the lack of interaction and effects for I can't figure it out due to lack of time
  from weather, environment, and personal problems I don't have the focus on myself and activities.
*/